.footer__links {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto;
  grid-column-gap: 19px;
  grid-auto-flow: column;
  justify-self: start;
  list-style-type: none;
}

@media (max-width: 500px) {
  .footer__links {
    display: grid;
    grid-template-columns: min-content;
    grid-row-gap: 31px;
    grid-column-gap: 0;
    grid-auto-flow: row;
  }
}