.footer__links {
  display: grid;
  grid-template-columns: repeat (5,min-content);
  grid-column-gap: 19px;
  grid-auto-flow: column;
  grid-template-columns: auto;
}

@media (max-width: 675px) {
  .footer__links {
    align-self: flex-start;
  }
}
@media (max-width: 500px) {
  .footer__links {
    display: grid;
    grid-template-columns: min-content;
    grid-row-gap: 32px;
    grid-column-gap: 0;
    grid-auto-flow: row;
  }
}
