.place__paragraph {
  margin: 0;
  color: #FFFFFF;
  font-family: 'Inter-Regular', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.611;
  text-align: start;
  margin-bottom: 26px;
}

.place__paragraph:last-child {
  margin-bottom: 0px;
}

@media (min-width: 1281px) {
  .place__paragraph {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 1.6235;
  }
}
