.footer__copyright {
  margin: 0;
  font-family: 'Inter-Regular', Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.143;
  text-align: end;
}


@media (max-width: 675px) {
  .footer__copyright {
    padding-top: 35px;
  }
}
@media (max-width: 500px) {
  .footer__copyright {

    padding-top: 48px;
    font-size: 14px;
    line-height: 1;
    text-align: end;
  }
}

