.place__vebsite {
  max-height: 46px;
  grid-column-start: 2;
  align-self: end;
  justify-self: start;
}

@media (max-width: 500px) {
  .place__vebsite {
    grid-column-start: 1;
    grid-row-start: 2;   
  }
}
@media (max-width: 320px) {
  .place__vebsite {
    max-height: 46px;
    padding: 0 16px;
  }
}