.intro__title {
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: #FFFFFF;
  padding-bottom: 40px;
  font-size: 54px;
  line-height: 1.075;
  text-align: left;
  max-width: 690px;
}

@media (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.0937;
    max-width: 250px;
  }
}